---
---

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;

    @media (min-width: 38em) {
        font-size: 20px;
    }
}

body {
    color: #515151;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 16px;
}

.MathJax_Display {
    font-size: 80%;
}

a {
    text-decoration: none;
    color: #333;
    &:hover,
    &:focus {
        text-decoration: none;
        color: #69bbf2;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-family: "Open Sans", "Source Sans Pro";
    line-height: 1.1;
    color: #333;
    letter-spacing: -0.025rem;
    display: inline-block;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.1rem;
}

h4,
h5,
h6 {
    font-size: 1rem;
}

p {
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
    font-weight: 300;
    margin: 0 0 1rem;
    font-size: 0.8rem;
}

ul,
ol,
dl {
    font-family: "Open Sans", "Helvetica Neue", Helvetica;
    font-weight: 300;
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

li > ul > li {
    margin-left: 1rem;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 0.5rem;
}

ul {
    font-size: 0.8rem;
    list-style: inside circle;
    padding-left: 0;

    li {
        color: #747474 !important;
        margin-bottom: 0.25rem;
    }

    ul,
    ol {
        margin-top: 0.25rem;
        margin-bottom: 0.5rem;
    }
}

ul.share-buttons {
    list-style: none;
    padding: 0;
}

ol {
    list-style: inside decimal;
    padding-left: 0;

    li {
        margin-bottom: 0.25rem;
    }

    ul,
    ol {
        margin-top: 0.25rem;
        margin-bottom: 0.5rem;
    }
}

p + h1,
p + h2,
p + h3,
ul + h1,
ul + h2,
ul + h3,
ol + h1,
ol + h2,
ol + h3 {
    margin-top: 1.5rem;
}

hr {
    border: 0;
    border-top: 0.5px solid #eee;
    border-bottom: 0.5px solid #eee;
    margin: 1.5rem auto;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 0 1rem;
    border-radius: 5px;
}

table {
    margin-bottom: 1rem;
    width: 100%;
    font-size: 70%;
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
}

td,
th {
    padding: 0.25rem 0.5rem;
    border: 1px solid #e5e5e5;
    font-size: 140%;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}

.lead {
    font-size: 1.25rem;
}

.container {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

.page {
    &-title {
        margin-bottom: 2rem;
    }

    padding-top: 0.5rem;
    padding-bottom: 3rem;
}

.post {
    &-title {
        margin-bottom: 0.25rem;
    }
    &-date {
        margin-bottom: 2rem;
        font-size: 0.75rem;
        text-transform: uppercase;
    }
}

.list {
    &-post-title {
        margin-bottom: 0.25rem;

        a {
            color: #333;

            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }
    &-post-date {
        margin-bottom: 1rem;
        font-size: 0.75rem;
        text-transform: uppercase;
    }
}

.projects-list {
    a {
        color: #333;
    }
}

.profile-thumbnail {
    object-fit: cover;
    object-position: center top;
    width: 200px;
    height: 200px;
}

// customization
.pos_header {
    padding-top: 2em;
    padding-left: 0.5em;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    width: 100%;
    align-items: center;
}

.pub_header {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    width: 100%;
    align-items: center;
}

.people {
    margin: auto;
    text-align: start;
    margin-top: 0.75em;
}

.list-item-people {
    width: 24%;
    display: inline-block;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 1rem;
    vertical-align: top;
}

.list-post-title img {
    margin-bottom: 0.75em;
    margin-top: 1.25em;
}

.list-post-title .name {
    font-size: 18px;
}

.list-post-title {
    color: black;
}

.list-detail {
    font-size: 15px;
    color: #838383;
}

.list-item a:hover,
.list-post-title:hover .name,
.list-post-title .name:hover {
    color: #c42929;
}

.page-title {
    margin-bottom: 0.6em;
}

.navbar-brand {
    //font-weight: bold;
    font-size: 20px;
    font-weight: 300;
}

// change font for navbar
.navbar,
.navbar-nav > li > a {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 90%;
}

.main_page {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main_first_column {
    width: 100%;
}

.main_second_column {
    width: 35%;
    padding-left: 1rem;
    flex-grow: 1;
}

// spacing for mobile
@media (max-width: 40em) {
    .list-item-people {
        width: 100%;
    }

    .main_first_column {
        width: 100%;
    }

    .main_second_column {
        padding-top: 2rem;
        padding-left: 0rem;
        width: 100%;
    }

    .main_page {
        flex-direction: column;
    }

    .profile-thumbnail {
        width: 500px;
        height: 500px;
    }
}

// fix menu button for mobile
.navbar-toggle,
.navbar-default .navbar-toggle:hover {
    border: none;
    background-color: #fff;
}
.one_fourth {
    width: 22%;
}
.one_half,
.one_third,
.two_third,
.three_fourth,
.one_fourth {
    margin-right: 4%;
    float: left;
    margin-bottom: 20px;
    position: relative;
}
#main .last {
    margin-right: 0;
    clear: right;
}
.professor_area {
    flex-direction: column;
    width: "100%";
}

.people-title {
    display: inline;
}

.title-sep {
    border-color: #e0dede;
    border-top: 1px solid #e7e6e6;
    border-bottom: 1px solid #e7e6e6;
    position: relative;
    height: 6px;
}

.title-sep-container {
    padding-left: 1rem;
    vertical-align: middle;
    flex-grow: 1;
    position: relative;
    height: 6px;
}

.space {
    height: 3rem;
}

.topics_title {
    color: #3366ff;
}

.post_title {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font: 18px "MuseoSlab500Regular", arial, helvetica, sans-serif;
    color: #333333;
    margin: 0 0 25px 0;
    padding: 0;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.post_content {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin: 0;
    margin-bottom: 20px;
    color: #747474;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.date {
    color: #747474;
}

.person-name {
    color: #333333;
    font: 15px/20px "MuseoSlab500Regular", arial, helvetica, sans-serif;
    margin-block-end: 2em;
    margin-bottom: 2rem;
}

.topics_title {
    color: #3366ff;
}

.reading_box {
    padding: 1rem;
    font-size: 1rem;
    background-color: #f6f6f6;
    border-left-width: 3px;
    border-left-color: #12a5f4;
    border: 0px solid #f6f6f6;
    font-size: 18px;
    font-family: Tahoma, sans-serif;
    color: #333333;
}

.update_title {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: #333333;
    line-height: 27px;
    margin-block-start: 1em;
}

.update_date {
    font: 12px/14px "PTSansItalic", arial, helvetica, sans-serif;
    color: #747474;
    font-style: italic;
    margin-block-end: 1em;
}

.update_contents {
    color: #333333;
    font-size: 13px;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
