<nav class="navbar fixed-top navbar-default navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class='navbar-brand page-scroll' href='/'>
            <span style='font-family:"Open Sans"; font-weight:300'>{{ site.name }}</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mb-0">
                {% for nav in site.nav %}
                <li><a class="nav-item mx-3 my-0" href="{{ nav.href }}">{{ nav.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
